@import 'Var';
*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: $bg;
  font-family: $font-family;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}
.container{
  position: relative;
  max-width: 100vw;
  min-height: 100vh;
  transition: all 0.5s ease-in-out;
  transition-delay: 1.25s;
  &.margin{
   margin-left: 50px;
   max-width: calc(100vw - 50px);
  transition: all 0.5s ease-in-out;
  } 
}

.section-title{
  @include center-row;
  width: 100%;
  &-text{
    font-size: 50px;
    color: $white;
    padding: 10px;
    border-bottom: 5px solid $primary;
    @media screen and (max-width: 768px){
      font-size: 35px;
    }
    @media screen and (max-width: 576px){
      font-size: 30px;
    }
  }
  &.next{
    padding-top: 20px;
  }
}