.skills{
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: $bg;
  @include center-column;
  &-circle{
    width: 600px;
    height: 600px;
    margin: 30px auto;
    border: none;
    border-radius: 600px;
    background: transparent;
    border: 10px solid $primary;
    box-shadow: 0 0 10px $primary;
    position: relative;
  }

  &-button{
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 70px;
    border: 5px solid $primary;
    background: $bg;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    z-index: 20;
    align-items: center;
    color: $primary;
    visibility: hidden;
    transition: 1s ease-in-out;
    &.active{
      transition: 1s ease-in-out;
      visibility: visible;
      &:last-child,
      &:nth-last-child(9),
      &:nth-last-child(17){
        top: -5px; //circle + border
        color: yellow;
        transition: 0.5s ease-in-out;
      }
      &:nth-last-child(2),
      &:nth-last-child(10),
      &:nth-last-child(18){
        top: calc(15% - 5px);
        left: 85%;
        color: blue;
        transition: 0.5s ease-in-out;
        transition-delay: 0.1s;
      }
      &:nth-last-child(3),
      &:nth-last-child(11),
      &:nth-last-child(19){
        left: calc(100% + 5px);
        color: red;
        transition: 0.5s ease-in-out;
        transition-delay: 0.2s;
      }
      &:nth-last-child(4),
      &:nth-last-child(12),
      &:nth-last-child(20){
        top: calc(85% + 5px);
        left: 85%;
        color: white;
        transition: 0.5s ease-in-out;
        transition-delay: 0.3s;
      }
      &:nth-last-child(5),
      &:nth-last-child(13),
      &:nth-last-child(21){
        top: calc(100% + 5px);
        color: purple;
        transition: 0.5s ease-in-out;
        transition-delay: 0.4s;
      }
      &:nth-last-child(6),
      &:nth-last-child(14),
      &:nth-last-child(22){
        top: calc(85% + 5px);
        left: calc(15% - 5px);
        color: aqua;
        transition: 0.5s ease-in-out;
        transition-delay: 0.5s;
      }
      &:nth-last-child(7),
      &:nth-last-child(15),
      &:nth-last-child(23){
        top: 50%;
        left: 0;
        color: pink;
        transition: 0.5s ease-in-out;
        transition-delay: 0.6s;
      }
      &:nth-last-child(8),
      &:nth-last-child(16),
      &:nth-last-child(24){
        top: calc(15% - 5px);
        left: 15%;
        color: orange;
        transition: 0.5s ease-in-out;
        transition-delay: 0.7s;
      }
    }
    &-text{
      position: absolute;
      top: 70px;
      font-weight: bold;
      opacity: 0;
      transition: all 0.5s ease-in;
    }
    
  }
  &-select{
    @include center-row;
    background: transparent;
    width: 100%;
    &-button{
      height: 150px;
      width: 33%;
      color: $primary;
      background: transparent;
      border: none;
      cursor: pointer;
      &:focus{
        outline: 0;
      }
      &:hover .skills-select-button-up,
      &:hover .skills-select-button-down{
        transition: transform 0.5s ease-in-out;
        transform: scale(1.1);
      }
      &:nth-child(2){
        background: $black;
      }
      &-up{
        font-size: 55px;
        color: $primary;
        margin-bottom: -30px;
        position: relative;
        &.middle{
          color: $white;
        }
      }
      &-down{
        font-size: 45px;
        color: $secondary;
        &.middle{
          color: rgba(255,255,255,.75)
        }
      }
      &-circle{
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 40px;
        background: $primary;
        box-shadow: 0 0 10px $primary;
        top: 50%;
        left: 5%;
        &.middle{
          background: $white;
          box-shadow: 0 0 10px $white;
        }
      }
    }
  }
  
}

